<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_leap_classic">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur5_leap_classic urdf file -->
    <xacro:include filename="$(find ur_irm_grasp)/assets/ur5_leap_classic/ur5_leap_classic.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur5_leap_classic.ros2_control.xacro" />


    <xacro:ur5_leap_classic_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
